{% extends 'accounts/main.html' %}

{% block content %}

<!-- Displays all of the data for specific post -->
<div class="containercenter">
  <a href="{% url 'profile_page' post.userPosted.user.id %}" class="profilelink">
    <img src="{{ post.userPosted.profile_pic.url }}" alt="profile pic" id="postprofilepic" />
    <p style="display:inline-block">{{post.userPosted}}</p>
  </a>
</div>
<img src="{{ post.image.url }}" alt="post image" style="max-width:50%" class="center">
<h3 style="text-align:center">{{post.title}}</h3>
<div class="containercenter">
  <p><i>{{post.caption}}</i></p>
  <br />
  <p><i>{{post.post_date}}</i></p>
  <p>Likes: {{post.likes}}</p>

  <!-- Form to allow user to like the post (only displays if user hasn't already liked the post)-->
  {% if form_like %}
    <form method="post">
      {% csrf_token %}
      {{ form_like }}

      <input type="submit" class="btn submit_btn" value="Like" name="Like">
    </form>
  {% endif %}
</div>

<!-- Divider -->
<br />
<hr class="rounded">
<br />



<div class="containercenter">
  <h3>Comments</h3>
  <br />
  <!-- Loops through all of the comments and displays them -->
  {% for comment in comments %}

    <a href="{% url 'profile_page' comment.userPosted.user.id %}">
      <img src="{{ comment.userPosted.profile_pic.url }}" alt="profile pic" id="commentprofilepic" />
      <p style="display:inline-block">{{comment.userPosted}}</p>
    </a>
    <p><strong>{{comment.title}}</strong></p>
    <p>{{comment.text}}</p>
    <p><i>{{comment.post_date}}</i></p>
    <br />
    <br />

  {% endfor %}



  <!-- Form to allow use to create a new comment -->
  <h5>Add Comment</h5>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <input class="btn submit_btn" type="submit" value="Post" name="Comment">
  </form>
</div>

{% endblock %}
