{% extends 'accounts/main.html' %}

{% block content %}
<style>
.container {
  margin-left:25%;
  margin-right:25%;
}

</style>


<img src="{{post.image.url }}" alt="post image" style="max-width:50%" class="center">
<h3 style="text-align:center">{{post.title}}</h3>
<div class="container">
  <p><i>{{post.caption}}</i></p>
  <br />
  <p>User: {{post.userPosted}}</p>
  <p>Post Date: {{post.post_date}}</p>
  <p>Likes: {{post.likes}}</p>
  <form method="post">
    {% csrf_token %}
    {{ form_like }}

    <input type="submit" value="Like Post" name="Like">
  </form>
</div>

<br />
<br />
<hr class="rounded">
<br />

<div class="container">
  <h3>Comments</h3>

  {% for comment in comments %}

  <p><strong>{{comment.title}}</strong></p>
  <p>{{comment.text}}</p>
  <p>User: {{comment.userPosted}}</p>
  <p><i>{{comment.post_date}}</i></p>
  <br />

  {% endfor %}

  <h5>Add Comment</h5>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <input class="btn submit_btn" type="submit" value="Post" name="Comment">
  </form>
</div>

{% endblock %}
