{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href={% static '/css/imagestylesheet.css' %}>

{% if form_post %}
  <h2 style="text-align:center">Edit Profile</h2>
  <br />
  <div class="container-sm">
    <form method="post" style="text-align:center">
      {% csrf_token %}
      {{ form_profile.as_p }}

      {{ form_user.as_p }}

      <input class="btn submit_btn" type="submit" value="Update" name="Update">
    </form>
  </div>

  <br />
  <hr class="rounded">
  <br />

{% endif %}


<div class="container-sm">
  {% if form_post %}
    <h2 style="text-align:center">My Posts</h2>
    <br />
  {% else %}
    <h2 style="text-align:center">User's Posts</h2>
    <br />
  {% endif %}


  {% for post in posts %}
    
    <a href="{% url 'post_page' post.id %}">
      <img src="{{post.image.url }}" alt="post image" style="max-width:25%">
    </a>

  {% endfor %}
</div>

{% if form_post %}
  <br />
  <hr class="rounded">
  <br />

  <div class="container-sm">
    <h2 style="text-align:center">Add Post</h2>
    <br />
    <form method="post" style="text-align:center">
      {% csrf_token %}
      {{ form_post.as_p }}

      <input class="btn submit_btn" type="submit" value="Post" name="NewPost">
    </form>
  </div>
{% endif %}
<br />
<br />


{% endblock %}
