{% extends 'accounts/main.html' %}

{% block content %}

<div class="container-sm">
  <h2>Edit Profile</h2>
  <form method="post">
    {% csrf_token %}
    {{ form_profile }}

    {{ form_user }}

    <input type="submit" value="Update" name="Update">
  </form>
</div>

<br />
<hr class="rounded">
<br />

<div class="container-sm">
  <h2>My Posts</h2>

  {% for post in posts %}

  <h4>{{post.title}}</h4>
  <p>{{post.likes}}</p>

  {% endfor %}
</div>

<br />
<hr class="rounded">
<br />

{% if form %}
  <div class="container-sm">
    <h2>Add Post<h2>
    <form method="post">
      {% csrf_token %}
      {{ form_post }}

      <input type="submit" value="Post" name="NewPost">
    </form>
  </div>
{% endif %}


{% endblock %}
